{{ form_start(form) }}
    {% if trick is defined %}
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% if trick.images is empty %}
                        <div class="carousel-item active">
                            <img src="/uploads/tricks/common-image.jpg" class="d-block w-100"
                                 alt="snowboarder jumping">
                        </div>
                    {% endif %}
                    {% for image in trick.images %}
                        <div class="carousel-item  {% if image.isMain %}active{% endif %}">
                            <div class="trick-edit-buttons">
                                <input class="form-check-input" type="radio" name="mainPictureRadio"
                                       id="mainPictureRadio{{ image.id }}" value="bdd{{ image.id }}"
                                        {% if image.isMain is same as(true) %}
                                            checked
                                        {% endif %}
                                >
                                <label class="form-check-label" for="mainPictureRadio{{ image.id }}"></label>
                                <a onclick="return confirm('Are you sure you want to remove this image ?');"
                                   href="{{ path('image_remove', {id: image.id}) }} ">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </div>
                            <img src="/uploads/tricks/{{ trick.slug }}/{{ image.name }}" class="d-block {# w-100 #}"
                                 alt="...">
                        </div>
                    {% endfor %}
                    {% for video in trick.videos %}
                        <div class="carousel-item carousel-video">
                            <div class="trick-edit-buttons">
                                <a href="{{ path('video_edit', {id : video.id}) }}">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a onclick="return confirm('Are you sure you want to remove this video ?');"
                                   href="{{ path('video_remove', {id: video.id}) }} ">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </div>
                            <div class="video">
                                {{ video.embed|raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="carousel-indicators">
                    {% set i = 0 %}
                    {% if trick.images is empty %}
                        <img src="/uploads/tricks/common-image.jpg"
                             alt="snowboarder jumping"
                             data-bs-target="#carouselExampleIndicators"
                             data-bs-slide-to="{{ i }}"
                             class="active"
                             aria-current="true"
                             aria-label="Slide {{ i }}">
                        {% set i = i +1 %}
                    {% endif %}
                    {% for image in trick.images %}
                        <img src="/uploads/tricks/{{ trick.slug }}/{{ image.name }}"
                             alt=""
                             data-bs-target="#carouselExampleIndicators"
                             data-bs-slide-to="{{ i }}"
                             {% if image.isMain %}class="active"{% endif %} aria-current="true"
                             aria-label="Slide {{ i }}">
                        {% set i = i+1 %}
                    {% endfor %}
                    {% for video in trick.videos %}
                        <img src="https://img.youtube.com/vi/{{ video.youtubeId }}/default.jpg"
                             alt=""
                             data-bs-target="#carouselExampleIndicators"
                             data-bs-slide-to="{{ i }}"
                             aria-current="true"
                             aria-label="Slide {{ i }}">
                        {% set i = i+1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.trickGroup) }}
<div class="form-group">
    <label for="trick-form-images">Images</label>
    <p class="trick-form-images-radio-label">Check the radio button to choose the main picture</p>
    <div class="images-container">
        <div class="image-input">
            <label for="trick_form_images" lang="en" class="images-label custom-file-label">
                <i class="fas fa-plus"></i>
            </label>
            {{ form_row(form.images) }}
        </div>
        <div class="images-gallery">
        </div>
    </div>
</div>
<div class="form-group">
    <div class="videos-container">
        <label for="video-fields-list">Videos</label>
        <ul id="video-fields-list"
            data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
            data-widget-tags="{{ '<li style="margin-bottom:0.5em"></li>'|e }}"
            data-widget-counter="{{ form.videos|length }}">
            {% for videoField in form.videos %}
                <li>
                    {{ form_errors(videoField) }}
                    {{ form_widget(videoField) }}
                </li>
            {% endfor %}
        </ul>
        <button type="button"
                id="video-btn"
                class="add-another-collection-widget btn btn-warning"
                data-list-selector="#video-fields-list">Add a video
        </button>
    </div>
</div>
<div class="btn-options-group">
    <button type="button" onclick="history.back(-1)" class="btn btn-outline-warning">Cancel</button>
    {% if trick is defined %}
        <a onclick="return confirm('Are you sure you want to delete this trick?');" class="btn btn-outline-danger"
           href="{{ path('trick_delete', {'slug' : trick.slug }) }}">Remove trick</a>
    {% endif %}
    <button type="submit" class="btn btn-success">Save</button>
</div>

{{ form_end(form) }}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ asset('/js/add-collection-widget.js') }}"></script>
    <script src="{{ asset('/js/display-images.js') }}"></script>
{% endblock %}