{% extends 'base.html.twig' %}
{% block title %}{{ trick.name }}{% endblock %}
{% block body %}
    <div class="trick-container" data-user-email="{{ app.user ? app.user.email|json_encode|e('html_attr') }}">
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% if app.user %}
                        <div class="trick-edit-buttons">
                            <a href="{{ path('trick_edit', {slug : trick.slug}) }}">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a onclick="return confirm('Are you sure you want to remove this trick ?');"
                               href="{{ path('trick_delete', {slug: trick.slug}) }} ">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    {% endif %}
                    <p class="trick-name badge" id="trick-name">{{ trick.name }}</p>
                    {% if trick.images is empty %}
                        <div class="carousel-item active">
                            <img src="/uploads/tricks/common-image.jpg" class="d-block w-100"
                                 alt="snowboarder jumping">
                        </div>
                    {% endif %}
                    {% for image in trick.images %}
                        <div class="carousel-item  {% if image.isMain %}active{% endif %}">
                            <img src="/uploads/tricks/{{ trick.slug }}/{{ image.name }}" class="d-block {# w-100 #}"
                                 alt="...">
                        </div>
                    {% endfor %}
                    {% for video in trick.videos %}
                        <div class="carousel-item carousel-video">
                            <div class="video">
                                {{ video.embed|raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="carousel-indicators">
                    {% set i = 0 %}
                    {% if trick.images is empty %}
                        <img src="/uploads/tricks/common-image.jpg"
                             alt="snowboarder jumping"
                             data-bs-target="#carouselExampleIndicators"
                             data-bs-slide-to="{{ i }}"
                             class="active"
                             aria-current="true"
                             aria-label="Slide {{ i }}">
                        {% set i = i +1 %}
                    {% endif %}
                    {% for image in trick.images %}
                        <img src="/uploads/tricks/{{ trick.slug }}/{{ image.name }}"
                             alt=""
                             data-bs-target="#carouselExampleIndicators"
                             data-bs-slide-to="{{ i }}"
                             {% if image.isMain %}class="active"{% endif %} aria-current="true"
                             aria-label="Slide {{ i }}">
                        {% set i = i+1 %}
                    {% endfor %}
                    {% for video in trick.videos %}
                        <img src="https://img.youtube.com/vi/{{ video.youtubeId }}/default.jpg"
                             alt=""
                             data-bs-target="#carouselExampleIndicators"
                             data-bs-slide-to="{{ i }}"
                             aria-current="true"
                             aria-label="Slide {{ i }}">
                        {% set i = i+1 %}
                    {% endfor %}
                </div>
                <button class="btn btn-outline-dark trick-see-medias" onclick=showMedia()>See medias</button>
            </div>
        </div>
        <div class="trick-content">
            <p>{{ trick.description|capitalize }}</p>
            <div class="trick-info">
                <p class="badge bg-light text-dark">Created
                    the {{ trick.createdAt|date("dS F Y", "Europe/Paris") }}</p>
                <p class="badge bg-light text-dark">Group : {{ trick.trickGroup.name }}</p>
                {% if trick.updatedAt is defined %}
                    <p class="badge bg-light text-dark">Updated
                        the {{ trick.updatedAt|date("dS F Y", "Europe/Paris") }}</p>
                {% endif %}
            </div>
        </div>

        <div class="comments-container">
            <hr>
            {% if app.user %}
                <div class="comments-form-container">
                    <div class="form-container">
                        {{ form_start(commentForm) }}
                        {{ form_row(commentForm.content) }}
                        <button type="submit" class="btn btn-light" id="comment-button">Leave a comment</button>
                        {{ form_end(commentForm) }}
                    </div>
                </div>
            {% else %}
                <h4 class="comment-login">You have to be
                    <a class="comment-login-link" href="{{ path('app_login') }}">logged in</a>
                    to post a comment</h4>
            {% endif %}
            <hr>
            {% if comments is empty %}
                <div class="no-comment">
                    <h4>No comments yet</h4>
                </div>
            {% endif %}
            <div class="comments-list-container">
                {% for comment in comments %}
                    <div class="comment">
                        <div class="comment-avatar">
                            {% if comment.user.avatar %}
                                <img src="/uploads/avatar/{{ comment.user.avatar }}" alt="">
                            {% else %}
                                <img src="/uploads/avatar/common-avatar.png" alt="">
                            {% endif %}
                        </div>
                        <div class="comment-content">
                            <div class="comment-content-flex">
                                <p>{{ comment.content }}</p>
                                {% if comment.user is same as app.user %}
                                    <a onclick="return confirm('Are you sure you want to delete your comment?');"
                                       href="{{ path('comment_delete', {'id':comment.id}) }}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="comment-user-details">
                                <p>Written by {{ comment.user.username }} on {{ comment.createdAt|date }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if commentsCount > 3 %}
                <button type="button" id="loader-btn" class="loader-btn btn btn-secondary">
                    <i class="fas fa-spinner fa-spin"></i> Load more
                </button>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {# trick name display management #}
    <script>
        let carousel = document.getElementById('carouselExampleIndicators');
        let trickName = document.getElementById('trick-name');
        carousel.addEventListener('slid.bs.carousel', function (e) {
            let slides = e.target.querySelectorAll('.carousel-item');
            let currentSlide = '';
            slides.forEach(function (slide) {
                if (slide.classList.contains('active')) {
                    currentSlide = slide;
                }
            })
            if (currentSlide.classList.contains('carousel-video')) {
                if (trickName.classList.contains('block')) {
                    trickName.classList.remove('block');
                }
                trickName.classList.add('d-none');
            } else {
                if (trickName.classList.contains('d-none')) {
                    trickName.classList.remove('d-none');
                }
                trickName.classList.add('block');
            }
        });
    </script>
    {# ajax call load more comments #}
    <script>
        jQuery().ready(function () {
            {% if trick.comments|length > 0 %}
            let moreBtn = $('#loader-btn');
            let trickContainer = $('.trick-container');
            let commentLength = 3;
            let index = 0;
            moreBtn.on('click', function () {
                $.ajax({
                    type: "GET",
                    url: `/comments/get/{{ trick.id }}/${commentLength}`,
                    cache: false,
                    success: function (comments) {
                        let currentUserEmail = trickContainer.data('userEmail');
                        $.each(comments, function (i, comment) {
                            /* Block for each comment */
                            let commentBlock = `<div class="comment" id="comment-block-${index}"></div>`;
                            moreBtn.before(commentBlock);
                            /* If user connected => avatar displayed */
                            if (comment['user']['avatar']) {
                                $(`#comment-block-${index}`).append(`<div class="comment-avatar" id="comment-avatar-${index}"><img src="/uploads/avatar/${comment['user']['avatar']}" alt=""></div>`);
                            } else {
                                $(`#comment-block-${index}`).append(`<div class="comment-avatar" id="comment-avatar-${index}"><img src="/uploads/avatar/common-avatar.png" alt=""></div>`);
                            }
                            let commentContent = `<div class="comment-content" id="#comment-content-container- ${index}"><p>${comment['content']}</p></div>`
                            $("#comment-avatar-" + index + "").after(commentContent);
                            /* if connected user is same as comment's author */
                            if (currentUserEmail.replace(/"/g, "") === comment['user']['email']) {
                                let link = `<a id="remove-link-${index}"
                                    onclick="return confirm(\'Are you sure you want to delete your comment?\');"
                                    href="/comment/${comment['id']}/remove">
                                    <i class="fas fa-trash-alt"></i></a>`;
                                $(`#comment-avatar-${index}`).next().append(link)
                                $(`#comment-content-container-${index}`).after(link)
                            }
                            index = index + 1;
                        })
                        commentLength = $(".comment").length;
                        if (commentLength === {{ commentsCount }}) {
                            moreBtn.remove();
                        }
                    }
                })
            });
            {% endif %}
        });
    </script>
    <script>

    </script>
    <script>
        let showMedia = function () {
            let previews = $('.carousel-indicators');
            let btn = $('.trick-see-medias');
            if (previews.is(':visible')) {
                btn.text('See medias');
                previews.hide();
            } else {
                previews.css('display', 'flex');
                btn.text('Hide medias');
            }
        }
    </script>
{% endblock %}