{% extends 'base.html.twig' %}
{% block title %}Update profile{% endblock %}
{% block body %}
    <div class="form">
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.firstname) }}
            </div>
            <div class="col">
                {{ form_row(form.lastname) }}
            </div>
        </div>
        {{ form_row(form.avatar) }}
        {% if(avatar is not null) %}
            <img style="width:15%;border-radius: 50%;" src="{{ asset('uploads/avatar/'~ user.avatar) }}" alt="">
        {% else %}
            <p><img style="width:15%;border-radius: 50%;" src="{{ asset('uploads/avatar/common-avatar.png') }}" alt="">
            </p>
        {% endif %}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        <div class="btn-options-group">
            <button type="button" onclick="history.back(-1)" class="btn btn-outline-warning">Cancel</button>
            <a onClick="return confirm('Delete your account?')"
               class="btn btn-outline-danger"
               href="/profile/remove">
                Remove account</a>
            <button type="submit" class="btn btn-success">Save</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}